@model ArchivosPlanosWeb.Models.ControlesExportar
@{
    ViewBag.Title = "Index";
}


@section Scripts {

    <script src="vendors/jquery-1.9.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="assets/scripts.js"></script>




    <script>

        $(document).ready(function () {

            $(".cargar").hide();

            $("#top2").click(function () {
                $(".cargar").show();
                //$("#top3").css("visibility", "visible");
            });

            LoadDelegaciones();
            LoadPlazas();
            LoadTurnos();
            Show();
            //Mostar();

        });



        function LoadDelegaciones() {
            $.ajax({
                url: '@Url.Action("GetDelegaciones", "Exportar")',
                type: "GET",
                data: "{}",
                cache: false,
                success: function (data) {
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.Value);
                        $option.html(row.Text);
                        $('#DelegacionesId').append($option);
                    });
                },
                error: function (ex) {
                    alert("Error!!!" + ex);
                },
            });
        }



        function LoadPlazas() {
            $.ajax({
                url: '@Url.Action("GetPlazaCobro", "Exportar")',
                type: "GET",
                cache: false,
                success: function (data) {
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.Value);
                        $option.html(row.Text);
                        $('#PlazaCobroId').append($option);
                    });
                },
                error: function (ex) {
                    alert("Error!!!" + ex)
                },
            });
        }


    function LoadTurnos() {
        $.ajax({
            url: '@Url.Action("GetTurnos", "Exportar")',
            type: "GET",
            cache: false,
            success: function (data) {
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.Value);
                    $option.html(row.Text);
                    $('#TurnoId').append($option);
                });
            },
            error: function (ex) {
                alert("Error!!!" + ex)
            },
        });
        }


        //$("#top2").click(function () {
        //    $("#top3").css("visibility", "visible");
        //});


    </script>

    @using (Html.BeginForm("Index", "Exportar", FormMethod.Post))
    {

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Delegaciones", htmlAttributes: new { @class = "titulos", id = "top" })
                        @Html.DropDownListFor(x => x.DelegacionesId, new SelectList(string.Empty, "Value", "Text"), htmlAttributes: new { @class = "form-control" })

                        @*@Html.DropDownList("DelegacionId", new List<SelectListItem> { }, "Delegación III Queretaro", htmlAttributes: new { @class = "form-control" })*@
                        @*@Html.DropDownListFor(x => x.DelegacionesId ,new List<SelectListItem> { new SelectListItem { Value = "03", Text = "Delegación III Queretaro" } }, htmlAttributes: new  {@class = "form-control" })*@

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Plazas de cobros", htmlAttributes: new { @class = "titulos" })
                        @Html.DropDownListFor(x => x.PlazaCobroId, new SelectList(string.Empty, "Value", "Text"), "Seleccionar una plaza de cobro", htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Turnos", htmlAttributes: new { @class = "titulos" })
                        @Html.DropDownListFor(x => x.TurnoId, new SelectList(string.Empty, "Value", "Text"), "Seleccionar un turno", htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">

                        @Html.Label("Fecha de inicio", htmlAttributes: new { @class = "titulos" })
                        @Html.EditorFor(x => x.FechaInicio)

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary crear" value="Exportar" id="top2" />

                </div>



            </div>

        </div>

        <div class="cargar">
            <span class="loader"></span>
            <span class="loader"></span>
            <span class="loader"></span>
            <span class="loader"></span>
        </div>

    }


    @*@using (Html.BeginForm("Descargar", "Exportar", FormMethod.Post))
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary crear" value="Descargar archivo" id="top3" />

                    </div>
                </div>
                </div>
         }*@

    @using (Html.BeginForm("Descargar", "Exportar", FormMethod.Post))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary crear" value="Descargar archivo" id="top3" />

                </div>
            </div>
        </div>
    }


    @if (ViewBag.List != null)
    {
        <script>
            function Show() {
                $("#myModal").modal()
                $(document).ready(function () {
                    $("#Subir").click(function () {
                        var Comentario = $("textarea#myModal").val();
                        $.ajax({
                            type: "POST",
                            url: "/Exportar/Index",
                            data: { Comentario }


                        });

                    });
                });

            }
        </script>
    }

    <div class="container" id="cargar">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <script>alert(indi.Text);</script>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                        <h4 class="modal-title">Agregar comentarios</h4>
                    </div>
                    <div class="modal-body">
                        <form id="myForm">
                            <textarea class="form-control" id="myModal"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal" id="Subir">Mandar Comentario</button>
                        @*<input class="btn-default" type="button" id="Subir" value="Mandar Comentario" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>



}

